/* project section */

.project_contents,
.project {
	display: grid;
	gap: 30px;
	border-radius: 5px;
}
.project_contents {
	grid-template-columns: repeat(2, 1fr);
	gap: 50px 30px;
}

.project-img {
	box-shadow: rgba(3, 13, 17, 0.089) 0px 5px 5px 0px,
		rgb(230, 236, 248) 0px 0px 0px 1px;
}
.project-title {
	margin-bottom: 15px;
}
.demo_link {
	background-color: var(--primary_color);
	width: fit-content;
	padding: 10px 16px;
	color: #fff;
	border-radius: 5px;
	display: flex;
	align-items: center;
	gap: 5px;
	font-weight: 600;
	transition: all 0.3s ease-out;
	margin-top: 25px;
}
.bx-right-arrow-alt {
	font-size: 20px;
	transition: all 0.3s ease-out;
}
.demo_link:hover > .bx-right-arrow-alt {
	transform: translateX(20px);
}
