/* skill section */
.skills_details {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 60px 30px;
	padding: 0;
}
.skill {
	display: grid;
	place-items: center;
	background-color: #ffff;
	gap: 10px;
	padding: 16px;
	transition: 0.5s;
	box-shadow: rgba(3, 13, 17, 0.089) 0px 5px 5px 0px,
		rgb(230, 236, 248) 0px 0px 0px 1px;
	border-radius: 15px;
}
.skill:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.skill_logo {
	height: 80px;
}
.skill h3 {
	color: #94a6b0;
}
