@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
	/* Color */
	--primary_color: #3068e1;
	--body-color: #fff;
	--text-color: #0d0d0d;
	--black: #0d0d0d;
}
